<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471262836702-bfmg4gg2m7sf773k787sn9ag2ntstonm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471262836702-bfmg4gg2m7sf773k787sn9ag2ntstonm</string>
	<key>API_KEY</key>
	<string>AIzaSyClSU5_ychTO5gYbIVFGXQ0E7K0Sc95XsA</string>
	<key>GCM_SENDER_ID</key>
	<string>471262836702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>green.Bigwalk</string>
	<key>PROJECT_ID</key>
	<string>green-bigwalk</string>
	<key>STORAGE_BUCKET</key>
	<string>green-bigwalk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471262836702:ios:65bf26e2e16fc29e1f0f4f</string>
</dict>
</plist>